<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    <script src="/main.js"></script>
</head>

<body>
    <form action="../updatePhone" method="put">
        Name:<br>
        <input type="text" name="name" value={{phone.phonenames}}>
        <br> Price:<br>
        <input type="text" name="price" value={{phone.price}}>
        <br>
        <input type="hidden" name="id" value={{phone.id}}>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>